body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
    padding: 20px;
    height: 50px;
    width: 50%;
    border-radius: 16px;
    border: 1px solid black;
}

.container {
    background-color: gray;
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
}

.card {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #25d366;
}

a:hover {
    color: #075e54;
}

.minidiv {
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}